{% extends "base.html" %}

{% block content %}
<h2>Create New Entry</h2>

<!-- TODO: Create a form that sends a POST request -->

<form method="POST">

    <!-- TODO: Add input for title -->
    <label for="food_name">Food:</label>
    <input type="text" id="food_name" name="food_name" required><br>

    <!-- TODO: Add input for content -->
    <label for="type">Type:</label>
    <textarea id="type" name="type" required></textarea><br>

    <!-- TODO: Add submit button -->
    <button type="submit">Create Entry</button>
</form>
<a href="/">Back to login</a>
<p class="error">{{ error }}</p>
    <!-- TODO: Add input for content -->

    <!-- TODO: Add submit button -->

</form>

<!-- TODO: Add a link back to dashboard -->

{% endblock %}