<!-- TODO: Rename this file to dashboard.html when ready -->

{% extends "base.html" %}

{% block content %}

<h2>Your Dashboard</h2>

<h3>Welcome, {{ username }}!</h3>

<!-- TODO: Add a button or link to create a new entry -->
<a href="/create">Create New Entry</a>

<br><br>

<!-- TODO: Loop through entries passed from Flask -->
<!-- The variable "entries" will come from your Flask route -->
<!-- Example structure: -->


{% for food in foods %}
    <div>
        <h3>{{ food['food_name'] }}</h3>
        <p>{{ food['type'] }}</p>

        <!-- TODO: Add Edit link -->
        <a href="/edit/{{ food['id'] }}">Edit</a> 

        <!-- TODO: Add Delete link -->
        <a href = "/delete/{{ food['id'] }}">delete</a> 

    </div>
    <hr>
{% endfor %}


<!-- TODO: If no entries exist, display a message like:
"No entries yet!" -->

<br>

<!-- TODO: Add a logout button -->
<a href="/logout"><button>Logout</button></a>

{% endblock %}