{% extends "base.html" %}

{% block content %}

<h2>Edit Entry</h2>

<form method="POST">
    <input name = "food_name" placeholder="food_name" value = " {{ foods['food_name'] }}"><br>
    <input name = "type" placeholder="type" value="{{ foods['type'] }}"><br>
    <button type = "submit">Update foods</button>
    <!-- TODO: Pre-fill content using entry data -->

    <!-- TODO: Add submit button -->

</form>

<!-- TODO: Add a link back to dashboard -->
<a href="{{ url_for('dashboard') }}">Back to Dashboard</a>

{% endblock %}